@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/**
HELLO SECTION
*/

.hello-section {
  height: 100vh;
}

.hello-s-self {
  height: 100%;
  padding: 20px;
  width: 50vw;
}

.left-side-hello-s {
  background-color: #fff300;
}

.right-side-hello-s {
  background-color: #e2e2e2;
}

/**
NEWS SLIDER SECTION
*/

.news-slider-section {
  height: 100vh;
  background-color: #b5b9bd;
}

/**
COMMERCIAL SLIDER SECTION
*/

.commercial-slider-section {
  height: 100vh;
  background-color: #FFF300;
}

/**
STYLES SECTION
*/

/**
BRANCHES SECTION
*/

/**
FEEDBACK SECTION
*/

/**
FOOTER SECTION
*/

